@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif !important;
}
.navbar {
  height: 93.4vh;
}
.logo {
  text-align: left;
  padding: 2px;
  font-size: 20px;
}
.paylogo {
  color: #34c3ff;
}
.input:not(:last-child) {
  margin-bottom: 10px;
}
.signup-message,
.signup-message-link {
  font-size: 17px;
}
.signup-message {
  margin-top: 10px;
  color: white;
}
.table {
  font-size: 13px;
  color: aliceblue;
}
.load {
  color: aliceblue;
}
.landingpage {
  height: 100vh;
  background-color: #f0f0f0;
}
.quote {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}
.landing-logo,
.quote {
  /** TEXT GRADIENT */
  color: #0f8dbf;
  background-image: -webkit-linear-gradient(45deg, #0f8dbf 35%, #030d24 60%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.landing-logo {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}
.login-button {
  border-radius: 30px;
  width: 130px;
  height: 50px;
  color: white !important;
  background-color: #0f8dbf !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  margin-right: 30px;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-group {
  display: flex;
}

.dashboard:hover {
  background-color: #aa0f6a;
  color: aliceblue;
}
.dashboard-header {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.datagrid {
  background-color: #000000 !important;
}
.action-bar {
  background-color: #2b2b2b;
}
.rs-anim-fade {
  color: white !important;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
}
.searchable {
  margin: 10px;
  width: 300px !important;
}
.left {
  display: flex;
  flex-direction: row;
}
.search-button {
  width: 20%;
  background-color: #003846 !important;
  font-weight: 500;
  font-size: 25px;
}
.search-button:hover {
  background-color: #003846 !important;
  color: white !important;
}
.data-grid {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  max-width: 130rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.icons:not(:last-child) {
  margin-right: 10px;
}
.header:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 15px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 8px;
  font-weight: 700;
  color: #000000;
}
.charts {
  display: flex;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.invoice-chart,
.payment-chart {
  height: 350px;
  width: 400px;
  margin: 10px;
}
.payment-chart {
  width: 600px !important;
}
.arimage {
  width: 500px;
  height: 100px;
  object-fit: cover;
}
.flow {
  height: 100px;
}
.login-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
